/*------------------------------------------------------CSS For All ------------------------------------------------------*/

*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', 'Segoe UI','Uber move', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

a {
    margin: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'GavencyRegular';
    src: url('../fonts/GavencyRegular.otf');
}

@font-face {
    font-family: 'Saonara';
    src: url('../fonts/Saonara.otf');
}

/*------------------------------------------------------- CSS Main -------------------------------------------------------*/

.container {
    width: 100%;
    margin: auto;
    max-width: 1440px;
    display: block;
}


.main {
    width: 100%;
    max-width: 1240px;
    height: 83vh;
    margin: auto;
    display: grid;
    place-items: center;
}

.scroll {
    width: 95%;
    margin: auto;
    height: 78vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    place-items: center;

}


.scroll::-webkit-scrollbar, ::-webkit-scrollbar {
    width: 0.7rem;
    margin: auto 1rem;
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
}

.scroll::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
    background: #5e5e5e; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.116);
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
}

.scroll::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb{
    background: rgba(46, 45, 45, 0.856);
}

.scroll::-webkit-scrollbar-thumb:hover ,::-webkit-scrollbar-thumb:hover {
    background: #c6c6c6b1;

}



@media screen and (max-height: 768px) {
    .header,.main,.scroll, footer{
        height: auto;
    } 
    .scroll{
        margin: 1rem auto;
    } 
    .header, footer{
        padding: 1rem;
    } 
}

@media screen and (max-width: 1024px){
    .scroll::-webkit-scrollbar {
        display: none;
    }
    .main {
        width: 95%;
    }   
    .faq-content-box, .traitements-element{
        width: 100%;
    }
    .faq-article-container td {
        gap: 0;
    }

}

