

/*------------------------------------------------------ CSS Header ------------------------------------------------------*/

.header {
    width: 100%;
    height: 12vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    background-color: orange;
}

.header-left {
    display: none;
}


/*------------------------------------------------------- CSS Main -------------------------------------------------------*/

.container {
    width: 100%;
    display: block;
}


.main {
    width: 100%;
    height: 75vh;
    margin: auto;
    display: grid;
    align-items: center;
}

.scroll {
    width: 100%;
    margin: auto;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: violet;
}


.scroll::-webkit-scrollbar {
    width: 0.8rem;
    margin: auto 1rem;
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
    display: none;
}

.scroll::-webkit-scrollbar-track {
    background: #faf6f638;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.116);
    border-radius: 7px;
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
}

.scroll::-webkit-scrollbar-thumb {
    background: rgba(46, 45, 45, 0.856);
    border-radius: 7px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3;

}

/*------------------------------------------------------ CSS Aside ------------------------------------------------------*/
aside {
    display: none;
}

@media screen and (min-width: 1280px) and (max-width: 2560px){
    aside {
        display: block;
        background-color: red;
    }
    .aside-link-img {
        font-size: 2rem;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}


/*------------------------------------------------------ Css Navbar ------------------------------------------------------*/
.nav {
    width: 100%;
    margin: auto;
}

.nav-content-box-center {
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.nav-content-center-image {
    width: 2.7rem;
    height: auto;
    margin: auto 1rem;
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
}



.admin-menu {
    width: fit-content;
    margin: 0;
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 0.3rem 0.80rem;
    border-radius: 7px;
}

.connexion {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.connexion-link {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-left: 1px solid white;
    padding: 8px;
}

.nav-content-left, .nav-content-right {
    display:inline-flex;
}

.nav-content-right-box {
    align-items: right;
    justify-content: right;
}

.nav-content-image {
    width: 3rem;
    height: auto;
    margin: 0;
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
}

.nav-content-ul {
    display:flex;
    align-items:center;
    justify-content: center;
    margin: auto;
}

.nav-responsive-ul-li {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    margin: auto 1rem;
}

.header-link {
    margin: 0;
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
}

.header-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: rgb(255, 255, 255);
    transition: width .4s;
}

.header-link:hover::after {
    width: 100%;
    transition: width .4s;
}

.admin-link {
    display: flex;
    align-items: center;
}

.admin-link-menu {
    width: fit-content;
    font-size: 1rem;
    margin: 0.5rem 5rem;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 10px;
}

.fingerprint {
    display:block;
    font-size: 2rem;
    margin: auto 0.5rem;
    padding-right: 1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-right: 2px solid white;
}

.fingerprint-menu {
    display:inline-flex;
    font-size: 1.5rem;
    margin: auto 0.5rem;
    padding-right: 0.5rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-right: 2px solid white;
}
.nav-responsive-content-box{
    display: none;
}



@media screen and (min-width: 1280px){
    .container {
        width: 100%;
        height: 75vh;
        display: grid;
        grid-template-columns: 10% 1fr 10%;
    }
    .scroll::-webkit-scrollbar {
        display: block;
    }
    
    
}


@media screen and (max-width: 915px){
    .main {
        width: 100%;
        height: 79.80vh;
        display: grid;
    }
    .scroll {
        width: 100%;
        height: 74.80vh;
        background-color: rgb(122, 6, 6);
    }
    .scroll::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 596px) {
    .main {
        width: 100%;
        height: auto;
    }
    .scroll {
        height: 74.5vh;
        background-color: rgb(255, 115, 0);
    }
}

@media screen and (max-height: 718px) {
    .header {
        width: 100%;
        height: auto;
        padding: 1.3rem 0;
        background-color: rgb(0, 255, 110);
    }
    .nav-sub-menu {
        width: 100%;
        height: auto;
        padding: 0.8rem 0;
        background-color: rgb(0, 174, 255);
    }
    .container {
        height: auto;
    }
    .main {
        width: 100%;
        height: auto;
        display: grid;
    }
    .scroll {
        width: 100%;
        height: auto;
        padding: 1rem 0;
        background-color: rgb(255, 115, 0);
    }
    footer {
        width: 100%;
        margin: auto;
        height: max-content;
        position: static;
        display: block;
    }
    .footer-responsive-content-box {
        padding: 1.8rem 0;
    }
}
