@media screen and (max-width: 1280px){
    .container {
        width: 100%;
        margin: auto;
    }

    .header-center {
        display: none;
    }
    
    .header-left {
        width: 100%;
        margin: auto;
        display: block;
    }

    .header-left ul {
        width: 100%;
        margin: auto 2rem;
        display: block;
    }

    aside {
        display: none;
    }

    main {
        width: 100%;
        margin: auto;
        height: 70vh;
        display: grid;
        align-items: center;
        grid-column: span 3;
    }

    div.scroll {
        width: 100%;
        margin: auto;
        height: 68vh;
        overflow-x: hidden;
        overflow-y: auto;
        display: grid;
        
    }

    div.scroll::-webkit-scrollbar {
        display: none;
    }

    .footer-container-box {
        width: 95%;
    }

    .nav-content-box {
        width: 93%;
    }

    .nav-sub-menu-container {
        width: 95%;
    }

    .nav-sub-horaires-text {
        text-align: start;
        font-size: 0.9rem;
    }

    .nav-sub-icons-link-title {
        font-size: 0.9rem;;
        margin-left: 0.3rem;
    }

    .responsive-menu {
        display: none;
    }

    .accueil-content-box {
        width: 100%;
        margin: auto;
        display: list-item;
    }

    .accueil-content-left{
        width: 100%;
        margin: 0;
    }

    .accueil-content-right {
        width: 100%;
        margin: 0.5vh;
    }

    .accueil-content-title {
        font-size: 3.5rem;
        margin: 0.5rem auto;
        width: 65%;
    }

    .accueil-content-description-text{
        font-size: 1.01rem;
        width: 65%;
        margin: 0.5rem auto;
    }

    .accueil-content-description-white-line{
        width: 15%;
        height: 0.1rem;
        margin: 2rem  auto;
        border: 1px solid white;
        background-color:white;
    }

    .accueil-content-left, .accueil-content-right {
        margin: 5vh auto;
    }

    .accueil-content-image {
        width: 50%;
        height: auto;
        border-radius:10px;
    }

    .nous-sommes-content-box {
        width:100%;
        margin: auto;
    }

    .nous-sommes-content-tr {
        width: 100%;
        height: fit-content;

    }

    .nous-sommes-content-td {
        width: 45%;
        margin: auto;
        height: 45vh;
    }

    .nous-sommes-td-title, .nous-sommes-td-text {
        width: 90%;
        margin: 1rem auto;
    }
    
    .nous-sommes-first-image ,
    .nous-sommes-second-image,
    .nous-sommes-third-image{
        width: 90%;
        height: 33vh;
        margin: auto;
        border-radius: 10px;
        filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
    }
    #nos-equipes {
        width: 95%;
        margin: auto;
        height: 65vh;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        justify-content: start;
    
    }
    
    #nos-equipes::-webkit-scrollbar {
        height: 0.5rem;
        margin:  1.5rem auto;
        filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
    }

    .profile {
        width: fit-content;
        margin: auto 8.5% auto 0;
        display: grid;
        align-items: center;
        justify-content: center;
    }


    .contact-content-box section {
        width: 75%;
    }

    

}

@media screen and (max-width: 1140px){
    .header-left  {
        background-color: rgb(255, 102, 0);
    }
    .header-left ul {
        display: none;
    }

    .container {
        width: 100%;
        margin: auto;
        display: block;
        position: relative;
        z-index: 10;
    }

    .landing-first-container {
        width: 100vw;
        margin: auto;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #CDCR1{
        display: block;
        width: 10rem;
    }

    #CDCR2 {
        display: none;
    }


    main {
        width: 100vw;
        height: 77vh;
        margin: auto;
        position: relative;
        top: 8vh;
        z-index: 10;
    }

    div.scroll {
        width: 100vw;
        margin: auto;
        height: 77vh;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 10;
        background-color: greenyellow;
     
    }

    .responsive-menu {
        display: inline;
    }

    .nav {
        width: 100vw;
        margin:auto;
        height: 15vh;
        position: fixed;
        top: 0;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .nav-responsive-content-box {
        display: block;
        width: 100%;
        margin: auto;
    }
    .admin-link {
        display: none;
    }

    .nav-sub-menu {
        width: 100%;
        margin: auto;
        background-color: rgba(255, 0, 0, 0.7);
        display:inline-flex;
        align-items: center;
        justify-content: center;
    }
    

    .nav-sub-rdv-link {
        width: fit-content;
        border: 0.12vw solid white;
        border-radius: 15px;
        padding: 0.89rem;
        text-align: center;
    }

    .nav-sub-rdv-link:hover {
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }

    .nav-content-ul {
        display: none;
    }


    .nav-sub-rdv-container {
        display: none;
    }



    .nav-sub-icons-container {
        justify-content: center;
    }

   
    .accueil-content-box {
        display:inline-block;
        width: 100%;
        margin:auto ;
        position: relative;
        top: 0;
    }


    .accueil-content-title {
        width:70%;
        margin: 1vh auto;
        font-size: 3rem;
        text-align:center;
    }

    .accueil-content-description-text {
        width: 70%;
        margin:auto;
    }

    .accueil-content-description-white-line {
        width: 20%;
        height: 0.5px;
        margin: 2rem  auto;
        border: 1px solid white;
        background-color:white;
    }

    .accueil-content-image {
        width:70%;
        margin: 1rem auto;
        height:auto;
        border-radius:1vw;
    }
    .nous-sommes-content-tbody {
        display: inline-flex;
        justify-content: center;
        
    }
    .nous-sommes-content-tr {
        display: grid;
        justify-content: center;
    }

    .nous-sommes-content-td {
        width: 100%;
        margin: 0.5rem auto;
        height: fit-content;
        
    }

    .nous-sommes-title {
        font-size: 3.5rem;
        padding:  1.5vh;
    }

    .nous-sommes-element-text {
        width: 75%;
        margin:auto;
        text-align:justify;
        font-size: 1rem;
    }

    .nous-sommes-first-image{
        margin: 1rem auto;
    }

    .nous-sommes-second-image,
    .nous-sommes-third-image{
        display: none;
    }

    .traitements{
        display: block;
        width: 100%;
        margin:  15vh auto 0;
        z-index: 9;
        background: black;
    }

    .traitements-title-container {
        display:flex;
        text-align:center;
        align-items: center;
        justify-content:center;
        width:100%;
        height: 150px;
        background: url("../images/fond/traitementsfond.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .traitements-element-title {
        font-size: 1.5rem;
        padding-top: 1.5rem;
    }

    .traitements-element-text{
        width: 85%;
        margin:auto;
        text-align:justify;
        font-size: 1.8vw;
    }
    .traitements-element-title-white-underline {
        width: 80%;
        height: 1px;
        margin: 2rem auto;
        background-color: white;
    }

    #nos-equipes {
        width: 90%;  
    }

    .profile {
        width: 100%;
        margin: auto 4%;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .faq-content-box{
        display: block;
        width: 95%;
    }

    .faq-article {
        
        border: none;
    }

  


    footer {
        position: fixed;
        top: 93%;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-column: span 3;
        width: 100%;
        margin: 0;
        height: 7vh;
        background-color: black;
        z-index: 10;
    }

    .footer-container-box {
        width: 100vw;
        height: 7vh;
        margin:0;
        display: flex;
        grid-column: span 3;
        align-items: center;
        justify-content: space-between;
        border:none;
    }

    .contact-content-box section {
        width: 90%;
        height: 70vh;
        margin: auto;
        display: grid;
        align-items: center;
        justify-content: center;
    }


    

}

@media screen and (max-width: 646px) {
    .nav-sub-menu {
        display:none;
    }  

    .nav-responsive-container {
        height: 75vh;
    }

    main {
        width: 100vw;
        height: 75vh;
        position: relative;
        top: 0;
    }

    div.scroll {
        width: 90vw;
        margin: auto;
        height: 75vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    div.scroll::-webkit-scrollbar {
        display: none;
        width: 0;
        filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
    }
        
    .profile {
        margin: auto 6.5%;
    }

    .nav-responsive-ul-li {
        margin: 0.5rem 2.5rem;
    }

    .admin-link-menu {
        margin: 0.5rem 2.5rem;
    }

    footer {
        position: fixed;
        top: 90%;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-column: span 3;
        width: 100%;
        height: 10vh;
        margin: auto;
        background-color: black;
        border-top: 2px solid white;
    }

    .footer-container-box {
        display: none;
    }

    .footer-responsive {
        display: block;
    }

    .footer-responsive-content-box {
        width: 100vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-icons-message-container, .footer-icons-contact-container, .footer-icons-acces-container   {
        width: 100%;
        margin: auto 0.25rem;
        display: flex;
        align-items: center;
        justify-content:center;
    }

    .footer-icons-link {
        display: flex;
        align-items: center;
    }

    .footer-icons-link ion-icon {
        font-size: 1.85rem;
        cursor:pointer;
    }

    .footer-icons-link-title {
        font-size: 1rem;
        margin-left: 0.25rem;
    }
}

@media screen and (max-width: 424px){

    header {
        width: 100%;
        margin: auto;
        height: 15vh;
        display: grid;
        align-items: center;
        grid-column: span 3;
    }

    .container {
        width: 100%;
        margin: auto;
        display:block;
    }

    aside {
        display: none;
    }

    .login-container {
        display: grid;
        margin: auto;
        width: 100%;
        height: 100vh;
    }

    .login-left-box {
        width: 100vw;
        margin: 0;
        height:20vh;
        display: inline-flex;
        align-items: flex-end;
    }

    .login-right-box {
        width: 100vw;
        margin: 0;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-container {
        width: 100%;
        height: fit-content;
        margin: 0;
        display: inline-flex;
        align-items: flex-start;
        justify-content: left;
        border-left: none;
    }
    
    .CDCR-login {
        width: 6rem;
    }
  
    .login-form {
        width: 85%;
        margin:auto;
        text-align: left;
    }

    .login-form-input {
        width: 100%;
        padding: 0.7rem;
    }

    .forgotten-password-link {
        font-size: 0.8rem;
    }

    .nav {
        border-bottom: 2px solid white;
    }

    .nav-rdv{
        display: none;
    }

    .nav-content-ul {
        display:none;
    }


    .nav-sub-menu {
        display: none;
    }

    .accueil-content-box {
        display:inline-block;
        width: 100%;
        margin: 1.5rem auto ;
        position: relative;
        top: 0;
    }

    .accueil-content-left{
        width: 100%;
        margin: auto;
    }

    .accueil-content-right {
        width: 100%;
        margin: auto;
    }

    .accueil-content-title {
        width: 90%;
        margin: 1vh auto;
        font-size: 3rem;
        text-align:center;
        display:block;
    }

    .accueil-content-description-text {
        width: 90%;
        margin:auto;
    }

    .accueil-content-description-white-line {
        width: 20%;
        height: 0.5px;
        margin: 2rem  auto;
        border: 1px solid white;
        background-color:white;
    }

    .accueil-content-image {
        width:80%;
        height:auto;
        border-radius:1vw;
    }

    .nous-sommes-title {
        font-size: 3rem;
        padding:  4vh;
    }

    .nous-sommes-element-text {
        width: 75%;
        margin:auto;
        text-align:justify;
        font-size: 1rem;
    }

    .nous-sommes-image {
        width: 100%;
        margin: 5rem auto;
        border-radius:10px;
    }
    #nos-equipes {
        width: 100%;  
    }
    .profile {
        margin: auto 32.30%;
    }

    .traitements{
        display: block;
        width: 100%;
        margin:  15vh auto 0;
        z-index: 9;
        background: black;
    }

    .traitements-title-container {
        display:flex;
        text-align:center;
        align-items: center;
        justify-content:center;
        width: 100%;
        height: 150px;
        background: url("../images/fond/traitementsfond.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .traitements-title {
        font-size: 3rem;
        padding: 2rem;
    }

    .traitements-element-title {
        font-size: 1.5rem;
        padding: 3rem;
    }

    .traitements-element-text{
        width: 100%;
        margin:auto;
        text-align:justify;
        font-size: 1.8vw;
        padding:2rem;
    }

    .traitements-element-title-white-underline {
        width: 80%;
        height: 1px;
        margin: 2rem auto;
        background-color: white;
    }

    

}

