.header {
    width: 90%;
    max-width: 1240px;
    margin: auto;
    height: 10vh;
    display: flex;
    align-items:center;
    justify-content: center;
}

.header-responsive {
    display: none;
}

.header-responsive-box {
    width: fit-content;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.menu-burger{
    position: relative;
    z-index: 4;
    display: none;
} 


.nav {
    width: 100%;
    margin: auto;
}

.nav-content-box-center {
    width: 96%;
    display: flex;
    margin: auto 0;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.LogoFont{
    font-size: 70px;
    font-family: 'Saonara';
    font-weight: 500;
    transition: all .2s;
}

.nav-content-ul {
    display:flex;
    align-items:center;
    justify-content: center;
    margin: auto;
}

.nav-content-ul  li {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    margin: auto 10px;
}

.nav-content-ul  li a{
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .2s;

}



.nav-content-ul  li a:hover{
    color: rgba(255, 255, 255, 0.545);   
}


.nav__link[aria-current="page"] {
    text-decoration: underline #ffffff 1px;
    text-underline-offset: 0.5rem;
}

@media screen and (max-width: 768px) {
    .header {
        border-bottom: 1px solid white;
    }
    .LogoFont{
        font-size: 50px;
    }
    .nav-content-box {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-center {
        display: none;
    }
    
    .header-responsive {
        display: block;
    }
    .header-responsive .nav-content-ul{
        display: none;
    } 
    .menu-burger{
        display: block;
    }   
}


@media screen and (max-width: 375px) {
    .header-rdv-link {
        display: none;
    }
}