/*---------------------Css Accueil----------------------------*/

.accueil-content-box {
    width: 100%;
    margin: auto;
    display: inline-grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 50% 50%;
}

.accueil-content-title {
    font-size: 3.5vw;
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}

.accueil-content-description-text{
    width: 95%;
    margin: 1rem  auto;
    text-align: justify;
}

.accueil-content-description-white-line{
    width: 20%;
    height: 0.1rem;
    margin: 2rem  auto;
    border: 1px solid white;
    background-color:white;
}

.accueil-content-left, .accueil-content-right {
    display:flex;
    align-items:center;
    justify-content:center;
}

.accueil-content-image {
    width: 80%;
    height: auto;
    border-radius:10px;
}