/*------------------------------------------ Css Nos Equipes -------------------------------------------------*/

#nos-equipes {
    width: 100%;
    margin: auto;
    height: 60vh;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
}

#nos-equipes::-webkit-scrollbar {
    height: 0.5rem;
    margin:  2vh auto 0;
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
}

#nos-equipes::-webkit-scrollbar-track {
    background: #faf6f638;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.116);
    border-radius: 10px;
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
}

#nos-equipes::-webkit-scrollbar-thumb {
    background: rgba(46, 45, 45, 0.856);
    border-radius: 10px;
}

#nos-equipes::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3;

}

.profile {
    width: 100%;
    margin: auto 2.5rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.image-profile {
    width: 14rem;
    height: 18rem;
    margin: auto;
    border-radius: 7px;
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
    background-image: url(../images/bdd/avatar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-name {
    font-size: 1.8rem;
    margin: 1rem auto 5px;
}

.logo-doctolib {
    width: 5rem;
    margin: 1.5rem auto;
}
