.nav-sub-menu {
    width: 100%;
    margin: auto;
}

.nav-sub-menu-container {
    width: 90%;
    max-width: 1250px;
    height: 4vh;
    margin: auto;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10rem;
}

.nav-sub-icons-container, .nav-sub-rdv-container, .nav-sub-horaires-container  {
    display: inline-flex;
    align-items: center;
    justify-content:space-around;
}

.nav-sub-icons-link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto 0.6rem;
}

.nav-sub-icons-link-title {
    display: block;
    font-size: 12px;
}

.nav-sub-icons-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ion-icon {
    font-size: 1.4rem;
    margin: 0 0.25rem;
}

.nav-sub-horaire-icon-container {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.nav-sub-horaire-icon {
    font-size: 1.4rem;
    margin-right: 0.5rem;
}

.nav-sub-horaires-text {
    text-align: start;
    font-size: 12px;
}

.responsive-menu {
    display: none;
}

@media screen and (min-width: 915px) and (max-width: 1280px)  {
    .nav-sub-menu-container {
        justify-content:space-between;
    }

}

@media screen and (max-width: 1280px) {
    .nav-sub-rdv-container{
        display: none;
    }

}

@media screen and (max-width: 1080px) {
    .responsive-menu {
        display: block;
    }
}


@media screen and (max-width: 914px) {
    .nav-sub-menu {
        display: none;
    }
}