
/*------------------------------------------------------ CSS Footer -----------------------------------------------------*/

footer {
    width: 90%; 
    max-width: 1240px;
    height: 7vh;
    margin: auto;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.footer-container-box {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction:column-reverse;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-container-left{
    display: inline-flex;
    align-items: center;
}

.footer-ul-li  {
    display: inline-block;
    list-style-type: none;
    margin-right: 0.5rem;
}

.footer-ul-li a {
    font-size: 0.75rem;
}

.footer-text {
    font-size: 0.75rem;
    margin-left: 0.5rem;
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
}

.footer-responsive  {
    display: none;
}

.detalle{
    font-size: 10px;
    letter-spacing: 6px;
    font-weight: 400;
    text-transform: uppercase; 
}


@media screen and (max-width: 768px) {
    footer {
        border-top: 1px solid white;
    }
}