.responsive-menu{
    display: none;
}

@media screen and (max-width: 768px) {
    .responsive-menu{
        display: block;
    }
    .open, .close {
        z-index: 3;
        font-size: 1.5rem;
        margin: auto;
        color: white;
        cursor: pointer;
    
    }
    
    .header-rdv-link, .menu-burger {
        width: fit-content;
        height: 45px;
        padding: 0.65rem;
        border: 1px solid white;
        font-size: 12px;
        font-weight: 400;
        display: grid;
        place-content: center;
        transition: all .3s;
    }
    
    .header-rdv-link:hover {
        background-color: rgb(255, 255, 255);
        color: black;

    }

    .xIcon {
        display: none;
    }
    
    .nav-responsive-container {
        width: 100%;
        z-index: 1;
        position: fixed;
        top: 0;
        opacity: 0;
        visibility:hidden;
        transition: visibility 0s linear 0.2s, opacity 0.2s linear;
        background-color: rgb(0, 0, 0);
    }
    
    .showMenu {
        opacity: 1;
        visibility:visible;
        transition-delay: 0s;
    }
    
    .menu {
        width: 80%;
        margin: auto;
        height: 100vh;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content:center
    }
    
    .menu ul {
        list-style: none;
    }
    
    .nav-responsive-ul-li {
        font-size: 10vw;
        list-style: none;
        font-family: 'GavencyRegular', sans-serif;
    }
    .nav-responsive-ul-li a {
        display: block;
    }
    .nav-responsive-ul-li:hover {
        color: transparent;
        -webkit-text-stroke: 0.8px rgb(255, 255, 255);
    }
}