/*---------------------Css FAQ----------------------------*/

.faq-content-box{
    width: 95%;
    max-width: 1550px;
    margin: auto;
}

.faq-article-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 100%))
}

.faq-article{
    width: 90%;
    max-width: 768px;
    margin: 1.5rem auto;
}


.faq-article-title {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font-size: 17px;
    font-family: 'GavencyRegular', sans-serif;
    font-weight: 100;
    text-align: left;
    filter: drop-shadow(0 0 0.65rem black);
}

.faq-article-text{
    text-align: justify;
}

@media screen and (max-width: 1280px) {
    .faq-article-container {
        grid-template-columns: auto;
    }
    .faq-article{
        width: 100%;
        margin: 0 auto 3.6rem;
        max-width: 800px;
    }
}


