/*---------------------Css Traitements----------------------------*/

.traitements-content-box{
    width: 100%;
    max-width: 1440px;
}

.traitements-element {
    width: 95%;
    max-width: 1440px;
    margin: 3rem auto;
    display: flex;
    gap: 1rem;
}

.traitements-element-title {
    width: 25%;
    margin: 0;
    padding: 10px;
    font-size: 21px;
    font-family: 'GavencyRegular', sans-serif;
    font-weight: 100;
    text-align: left;
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));
    

}

.traitements-element-texte {
    width: 100%;
    margin: auto;
    padding: 0 2rem;
    font-size: 1rem;
    text-align: justify;
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.24));

}

@media screen and (max-width: 768px) {
    .traitements-element {
        width: 100%;
        flex-direction: column;
        margin: 0 auto 2rem;
    }
    .traitements-element-title {
        width: 50%;
        border: none;
    }
    
    .traitements-element-title:nth-child(even) {
        background-color: lightyellow;
    }
    
    .traitements-element-texte {
        width: 95%;
        border: none;
        padding: 0;
    }
     
}